frontend_clickmesa/
backend_clickmesa/

# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class

# Variáveis de ambiente
.env
.env.local

# Frontend (adicione estas linhas se aplicável)
node_modules/
dist/
*.log



